@CHARSET "US-ASCII";

.formtable {
	width: 600px;
	padding: 10px;
	border: 1px solid blue;
}

input[type=text] {
	width: 250px;
	
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

table.offers {
	padding: 20px;
	border: 1px solid gray;
}

p.error {
	font-size: medium;
}
