<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="jungle" class="com.caveofprogramming.spring.test.Jungle">

		<property name="largest">
			<bean class="com.caveofprogramming.spring.test.Animal">
				<property name="name" value="Richard"></property>
				<property name="type" value="elephant"></property>
			</bean>
		</property>
		<property name="animals">
			<list>
				<bean class="com.caveofprogramming.spring.test.Animal">
					<property name="name" value="Igor"></property>
					<property name="type" value="lion"></property>
				</bean>
				<bean class="com.caveofprogramming.spring.test.Animal">
					<property name="name" value="Richard"></property>
					<property name="type" value="elephant"></property>
				</bean>
				<bean class="com.caveofprogramming.spring.test.Animal">
					<property name="name" value="Bob"></property>
					<property name="type" value="snake"></property>
				</bean>
			</list>
		</property>
	</bean>

</beans>
